.header {
    width: var(--container-width-lg);
    border-bottom: 1px solid black;
    margin: auto;
}

nav {
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    margin: auto;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: black;
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}